.message {
    background-color: white;
    max-width: 25%;
    display: inline-block;
    position: absolute;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 10px #000000;
}
.header {
  text-align: center;
  padding-bottom: 2px;
  margin-bottom: 4px;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
}
.content {
  overflow-x: wrap;
}
