<style>
  .main {
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    border: 5px solid #657786;
  }

  .nav-bar {
    word-spacing: 40px;
    font-size: 20px;
    font-family: arial;
  }

  .nav-bar ul li a {
    text-decoration: none;
    color: white;
  }

  .nav-bar ul li {
    display: inline-block;
    -webkit-transition: border 1s, border-radius 1s, padding 1s, background-color 1s, color 1s;
  }

  .nav-bar ul li:hover {
    border-bottom: 2px solid gray;
    border-radius: 10%;
    padding: 10px;
    background-color: #1DA1F2;
    color: white;
  }
</style>
<div class="main">
  <nav class="nav-bar">
    <ul>
      <img src="~/img/logo.png" height="30px"/>
      <li><a href="#"> Home </a></li>
      <li><a href="https://github.com/karafra/twitter-stream/blob/master/LICENSE"> License </a></li>
      <li><a href="https://twitter.com/karafro"> Contact </a></li>
    </ul>
  </nav>
</div>